# Archivos y directorios generados por Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Excluir carpetas "build" en general pero incluir las específicas en `src`
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Configuración de IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Configuración de STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Configuración de NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Configuración de VS Code
.vscode/

# Archivos específicos como README o HELP.md
HELP.md